{% extends 'movie/base.html' %}


{% block movies %}
    <h2> Фильмы </h2>
    <ul>{% for movie in movies %}
        <li><a href="{{ movie.get_url }}">
            Название фильма - {{movie.name}}
            Рейтинг фильма - {{movie.rating }}
            Бюджет фильма - {{movie.budget}}
            </a>
        </li>
        {% endfor %}
    </ul>
    <h3>Средний бюджет фильма {{ agg.budget__avg }}</h3>
    <h3>Минимальный рейтинг {{ agg.rating__min }}</h3>
    <h3>Максимальный рейтинг {{ agg.rating__max }}</h3>
    <h3>Всего фильмов {{agg.id__count}}</h3>


{% endblock %}